.outerContainer-form{
  background: #673ab7;
}
.form {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 15px auto;
  }
  
  .input {
    border: none;
    border-radius: 20px;
    box-shadow: -1px 1px 10px 0px #673ab7;
    padding: 2% 5%;
    width: 78%;
    color: #673ab7;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #673ab7 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #fff;
    padding: 10px 20px;
    display: inline-block;
    border: none;
    box-shadow: -1px 1px 10px -4px #673ab7;
    border-radius: 20px;
    width: 20%;
    cursor: pointer;
  }
  .sendButton .fa-paper-plane{
    font-size: 1.5rem;
  }